<div id="bootstrap-theme-main-container" class="container-fluid {{ isAdminArea|default(false) == true ? 'admin' : 'user' }}-area">
    {% if isAdminArea|default(false) == true %}
        {{ include('@ZikulaZkSiteTheme/Include/admin_menu.html.twig') }}
    {% else %}
        {{ include('@ZikulaZkSiteTheme/Include/main_menu.html.twig') }}
    {% endif %}
    {% if isAdminArea|default(false) != true and (home|default(false) == true or app.request.query.get('pid', 0) == 1) %}
        <div id="startPanel">
            <div class="container">
                {{ showblockposition('home') }}
            </div>
        </div>
    {% else %}
        <div id="mood{{ app.request.query.get('pid', 0) in [2, 3, 4] ? app.request.query.get('pid', '') : '' }}">
        </div>
    {% endif %}
    <div class="container">
        {% if app.request.query.get('pid', 0) == 2 %}
            {% set currentReleaseBlocks = showblockposition('currentrelease') ~ '<p class="download-description"><small>' ~ __('Symfony 3 - current release', 'zikulazksitetheme') ~ '</small></p>' %}
            {% set legacyReleaseBlocks = showblockposition('legacyrelease') ~ '<p class="download-description"><small>' ~ __('Symfony 2 + Zikula legacy layer', 'zikulazksitetheme') ~ '</small></p>' %}
            {% set mostBlock %}
                <div class="z-block z-blockposition-blockposition z-bkey-most"><div class="coremanager-button">
                    <a class="btn btn-lg btn-warning" role="button" href="https://modulestudio.de{% if app.request.locale == 'en' %}/en{% endif %}" style="white-space: normal"><i class="fa fa-magic fa-fw fa-3x pull-left"></i> {{ __('Generate your<br />own modules', 'zikulazksitetheme')|raw }}</a>
                </div></div>
                 <p class="download-description"><small>{{ __('Simply create individual extensions', 'zikulazksitetheme') }}</small></p>
            {% endset %}
            {% set extensionsList = getGitHubRepositories() %}
            {{ maincontent|replace({ '<p>###CURRENT_RELEASE###</p>': currentReleaseBlocks, '<p>###LEGACY_RELEASE###</p>': legacyReleaseBlocks, '<p>###MODULE_STUDIO###</p>': mostBlock, '###GITHUB_REPOSITORIES###': extensionsList })|raw }}
        {% elseif app.request.query.get('pid', 0) == 3 %}
            {{ maincontent|replace({ '<p>###DOCS_MEDIA###</p>': getExternalMedia() })|raw }}
        {% elseif app.request.query.get('pid', 0) == 7 %}
            {{ maincontent|replace({ '###PIWIK_OPTOUT###': '<iframe frameborder="no" src="https://stats.ziku.la/index.php?module=CoreAdminHome&amp;action=optOut&amp;language=' ~ app.request.locale ~ '"></iframe>' })|raw }}
        {% else %}
            {{ maincontent|raw }}
        {% endif %}
    </div>
    {% if isAdminArea|default(false) != true %}
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        {{ showblockposition('footerleft') }}
                        {{ getFollowLinks() }}
                    </div>
                    <div class="col-sm-4 text-center">
                        {% if app.request.locale == 'de' %}
                            {{ __('Ad partners:', 'zikulazksitetheme') }} <a href="https://www.kreditexperte.de/">KREDITEXPERTE.de</a>
                        {% endif %}
                    </div>
                    <div class="col-sm-4 text-right">
                        {{ showblockposition('footerright') }}
                    </div>
                </div>
            </div>
        </footer>
        {% set iconSize = 'width="32" height="32" class="img-responsive"' %}
        <ul id="vendorList" class="list-inline text-center">
            <li><a href="https://symfony.com/" title="Symfony"><img src="{{ zasset('@ZikulaZkSiteTheme:images/vendor/symfony.png') }}" alt="Symfony" {{ iconSize|raw }} /></a></li>
            <li><a href="https://twig.symfony.com/" title="Twig"><img src="{{ zasset('@ZikulaZkSiteTheme:images/vendor/twig.png') }}" alt="Twig" {{ iconSize|raw }} /></a></li>
            <li><a href="https://www.doctrine-project.org/" title="Doctrine"><img src="{{ zasset('@ZikulaZkSiteTheme:images/vendor/doctrine.png') }}" alt="Doctrine" {{ iconSize|raw }} /></a></li>
            <li><a href="https://jquery.com/" title="jQuery"><img src="{{ zasset('@ZikulaZkSiteTheme:images/vendor/jquery.png') }}" alt="jQuery" {{ iconSize|raw }} /></a></li>
            <li><a href="{% if app.request.locale == 'de' %}http://holdirbootstrap.de/{% else %}https://getbootstrap.com/{% endif %}" title="Bootstrap"><img src="{{ zasset('@ZikulaZkSiteTheme:images/vendor/bootstrap.png') }}" alt="Bootstrap" {{ iconSize|raw }} /></a></li>
        </ul>
    {% endif %}
</div>
{{ pageAddAsset('javascript', zasset('@ZikulaZkSiteTheme:js/site.js'), 105) }}
<script src="/additions/cookieconsent/cookieconsent.min.js"></script>
<script>
window.addEventListener('load', function() {
    window.cookieconsent.initialise({
        'palette': {
            'popup': {
                'background': '#252e39'
            },
            'button': {
                'background': '#14a7d0'
            }
        },
        'theme': 'classic',
        'position': 'bottom-right',
        'content': {
        {% if app.request.locale == 'de' %}
            'message': 'Um unsere Webseite für Sie optimal zu gestalten und fortlaufend verbessern zu können, verwenden wir Cookies. Durch die weitere Nutzung der Webseite stimmen Sie der Verwendung von Cookies zu. Weitere Informationen zu Cookies erhalten Sie in unserer ',
            'dismiss': 'OK',
            'link': 'Datenschutzerklärung',
            'href': 'https://ziku.la/de/service/privacy.html'
        {% else %}
            'message': 'For optimal design and continuous improvement of our website we use cookies. By further usage of our website you agree to this cookie usage. Further information about cookies is available in our ',
            'dismiss': 'OK',
            'link': 'privacy policy',
            'href': 'https://ziku.la/en/service/privacy.html'
        {% endif %}
        }
    })
});
</script>
<script>
var _paq = _paq || [];
(function() {
    var u = 'https://stats.ziku.la/';
    _paq.push(['setSiteId', 1]);
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=u+'piwik.js';
    s.parentNode.insertBefore(g,s);
})()
</script>
<noscript><p><img src="https://stats.ziku.la/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
