<div id="bootstrap-theme-main-container" class="container-fluid {{ isAdminArea|default(false) == true ? 'admin' : 'user' }}-area">
    {% if isAdminArea|default(false) == true %}
        {{ include('@ZikulaZkSiteTheme/Include/admin_menu.html.twig') }}
    {% else %}
        {{ include('@ZikulaZkSiteTheme/Include/main_menu.html.twig') }}
    {% endif %}
    {% set currentSlug = app.request.attributes.get('slug', '') %}
    {% if isAdminArea|default(false) != true and (home|default(false) == true or currentSlug == 'about') %}
        <div id="startPanel">
            <div class="container">
                {{ showblockposition('home') }}
            </div>
        </div>
    {% else %}
        <div id="mood{{ currentSlug in ['downloads', 'documentation', 'dokumentation', 'support'] ? currentSlug : '' }}">
        </div>
    {% endif %}
    <div class="container">
        {% if currentSlug == 'downloads' %}
            {% set currentReleaseBlocks = showblockposition('currentrelease') ~ '<p class="download-description"><small>' ~ __('Symfony 5 - current release', 'zikulazksitetheme') ~ '</small></p>' %}
            {% set legacyReleaseBlocks = showblockposition('legacyrelease') ~ '<p class="download-description"><small>' ~ __('Symfony 3 - legacy release', 'zikulazksitetheme') ~ '</small></p>' %}
            {% set mostBlock %}
                <div class="z-block z-blockposition-blockposition z-bkey-most"><div class="coremanager-button">
                    <a class="btn btn-lg btn-warning" role="button" href="https://modulestudio.de/{{ app.request.locale }}/" style="white-space: normal"><i class="fa fa-magic fa-fw fa-3x pull-left"></i> {{ __('Generate your<br />own modules', 'zikulazksitetheme')|raw }}</a>
                </div></div>
                 <p class="download-description"><small>{{ __('Simply create individual extensions', 'zikulazksitetheme') }}</small></p>
            {% endset %}
            {{ maincontent|replace({
                '<p>###CURRENT_RELEASE###</p>': currentReleaseBlocks,
                '<p>###LEGACY_RELEASE###</p>': legacyReleaseBlocks,
                '<p>###MODULE_STUDIO###</p>': mostBlock,
                '<p>###GITHUB_REPOSITORIES###</p>': ghRepositories()
            })|raw }}
        {% elseif currentSlug == 'support' %}
            {{ maincontent|replace({
                '<p>###GITHUB_DISCUSSIONS###</p>': ghDiscussions()
            })|raw }}
        {% else %}
            {{ maincontent|raw }}
        {% endif %}
    </div>
    {% if isAdminArea|default(false) != true %}
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        {{ showblockposition('footerleft') }}
                        {{ getFollowLinks() }}
                    </div>
                    <div class="col-sm-4 text-center">
                    </div>
                    <div class="col-sm-4 text-right">
                        {{ showblockposition('footerright') }}
                    </div>
                </div>
            </div>
        </footer>
        {% set iconSize = 'width="32" height="32" class="img-responsive"' %}
        <ul id="vendorList" class="list-inline text-center">
            <li><a href="https://symfony.com/" title="Symfony"><img src="{{ zasset('@ZikulaZkSiteTheme:images/vendor/symfony.png') }}" alt="Symfony" {{ iconSize|raw }} /></a></li>
            <li><a href="https://twig.symfony.com/" title="Twig"><img src="{{ zasset('@ZikulaZkSiteTheme:images/vendor/twig.png') }}" alt="Twig" {{ iconSize|raw }} /></a></li>
            <li><a href="https://www.doctrine-project.org/" title="Doctrine"><img src="{{ zasset('@ZikulaZkSiteTheme:images/vendor/doctrine.png') }}" alt="Doctrine" {{ iconSize|raw }} /></a></li>
            <li><a href="https://jquery.com/" title="jQuery"><img src="{{ zasset('@ZikulaZkSiteTheme:images/vendor/jquery.png') }}" alt="jQuery" {{ iconSize|raw }} /></a></li>
            <li><a href="{% if app.request.locale == 'de' %}http://holdirbootstrap.de/{% else %}https://getbootstrap.com/{% endif %}" title="Bootstrap"><img src="{{ zasset('@ZikulaZkSiteTheme:images/vendor/bootstrap.png') }}" alt="Bootstrap" {{ iconSize|raw }} /></a></li>
        </ul>
    {% endif %}
</div>
{{ pageAddAsset('javascript', zasset('@ZikulaZkSiteTheme:js/site.js'), 105) }}
<script type="text/javascript">
    var _paq = window._paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="https://stats.ziku.la/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
{#<noscript><p><img src="https://stats.ziku.la/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>#}
