<!DOCTYPE html>
<html lang="{{ app.request.locale }}" dir="auto">
    <head>
        <meta charset="{{ pagevars.meta.charset }}" />
{% set sitename = getModVar('ZConfig', 'sitename_' ~ app.request.locale) %}
        <title>{{ pagevars.title }}{% if sitename not in pagevars.title %} - {{ sitename }}{% endif %}</title>
        <meta name="description" content="{{ pagevars.meta.description }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="{{ zasset('@ZikulaZkSiteTheme:images/favicon.ico') }}" rel="shortcut icon" />
        <link rel="icon" href="{{ zasset('@ZikulaZkSiteTheme:images/favicon.ico') }}" type="image/ico" />
        <link rel="alternate" type="application/rss+xml" title="Zikula RSS News" href="{{ url('munewsmodule_message_view', {sort: 'updatedDate', sortdir: 'desc', '_format': 'rss'}) }}" />
        {{ pageAddAsset('javascript', zasset('@ZikulaZkSiteTheme:js/jquery.matchHeight/jquery.matchHeight-min.js')) }}
        {{ pageAddAsset('javascript', asset('magnific-popup/jquery.magnific-popup.min.js')) }}
        {{ pageAddAsset('stylesheet', asset('magnific-popup/magnific-popup.css')) }}
        {{ pageAddAsset('stylesheet', zasset('@ZikulaZkSiteTheme:css/zikula-font/zikula.css')) }}
        {{ pageAddAsset('stylesheet', zasset('@ZikulaZkSiteTheme:js/Youtube-TV/src/ytv.css')) }}
        {{ pageAddAsset('javascript', zasset('@ZikulaZkSiteTheme:js/Youtube-TV/src/ytv.js')) }}
        <script type="application/javascript" src="https://app.usercentrics.eu/latest/main.js" id="zhlqfDr1"></script>
        <meta data-privacy-proxy-server = "https://privacy-proxy-server.usercentrics.eu">
        <script type="application/javascript" src="https://privacy-proxy.usercentrics.eu/latest/uc-block.bundle.js"></script>
        <script defer type="application/javascript" src="https://privacy-proxy.usercentrics.eu/latest/uc-block-ui.bundle.js"></script>
    </head>
    <body>
