<div class="navbar navbar-default{# navbar-fixed-top#}">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
{% set sitename = getModVar('ZConfig', 'sitename_' ~ app.request.locale) %}
                <a class="navbar-brand" href="{{ pagevars.homepath }}"><img src="{{ zasset('@ZikulaZkSiteTheme:images/logo.gif') }}" title="{{ sitename|e('html_attr') }}" alt="{{ sitename|e('html_attr') }}" class="img-responsive" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>{{ adminPanelMenu() }}</li>
                </ul>
                {{ showblockposition('header') }}
                {% if currentUser.loggedIn %}
                    <div class="btn-group navbar-right navbar-btn">
                        <a href="{{ path('zikulausersmodule_account_menu') }}" class="btn btn-default"><i class="fa fa-user"></i>&nbsp;&nbsp;{{ __('Signed in as', 'zikulazksitetheme') }} {{ currentUser.uname }}</a>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">{{ __('Toggle Dropdown', 'zikulazksitetheme') }}</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('zikulausersmodule_access_logout') }}">{{ __('Log out', 'zikulazksitetheme') }}</a></li>
                            <li><a href="{{ path('zikulausersmodule_account_menu') }}">{{ __('My account', 'zikulazksitetheme') }}</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
